body {
    font-family: 'Roboto', sans-serif;
}

.texto{
    color:white;
    text-align: justify;
    font-size: 25px;
    padding: 0 130px;
}
.contenido{
    color:white;
    font-size: 25px;
    padding: 0 15%;
    text-shadow: 1px 1px 4px rgb(110 115 115);
    padding-top: 5%;
}

.text span{
    text-align: right;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0
}

.menu ul li{
    display: inline-block;
    padding: 20px 30px;
}
.menu ul li a{
    color:white;
    text-decoration: none;
    display:block;
}

.menu ul li a:hover{
    color: lightblue;
    border-bottom: 1px;
    border-bottom-style: solid;
}

.menu-logo .corazon{
    width: 60px;
    height: 60px;
    margin: 10px;
}
.menu-logo{
    display: inline-block;
    margin-left: 20px;
}
.menu-logo .anatomia-viva {
    width: 105px;
    margin: -100px 0;
}

.logo{
    display: flex;
    justify-content: flex-end;
}
Header{
    display: flex;
    justify-content: space-between;
    background-color: #495468;
    border-bottom: 2px solid;
    align-items: center;
}

.contenedor{
    position: relative;
    display: block;
    text-align: center;
    
}
 
.texto-encima{
    font-size: 40px;
    color:white;
    top: 10px;
    left: 10px;
    margin-bottom: 20px;
}

body{
    background-color: #536E80;        
}

.redes{
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.info-container{
    width: 100%;
    background: #f2f2f2;
}

.info-main{
    width: 95%;
    max-width: 1000px;
    margin:auto;
    text-align: center;
    padding: 5% 10%;
}

.info-main h3{
    color: #00C6ee;
    font-size:40px;
    text-align: center;
}

.info-main p{
    padding: 20px 0px;
}

.info-main a{
    display:inline-block;
    background: #BF0026;
    color: white;
    text-decoration: none;
    padding: 12px 20px;


}
.info-main a:hover{
    background:#D61D0B;
}

footer{
    width: 100%;
}

.footer-container{
    width: 100%;
    background: #272727;
    color:white;
}

.footer-main{
    width: 98%;
    max-width: 1000px;
    margin: auto;
    padding: 50px 0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-main .footer-columna {
    text-align: justify;
}

.footer-main .footer-columna h3{
    font-size:32px;
    color: #00C6ee;
    margin-bottom:20px;
}

.footer-main .footer-columna span{
    display:flex;
    margin-left: 5px;
    margin-bottom: 15px;
}

.footer-main .footer-columna span p{
    margin-left: 5px;
}   

.footer-copy-redes{
    width: 100%;
    background: #000;
    border-top:3px solid white;
}

.main-copy-redes{
    width: 98%;
    max-width: 1000px;
    padding: 15px 0;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

.main-copy-redes .footer-copy {
    width: 70%;
    color:white;
}

.footer-copy {
    color:white;
}

.main-copy-redes .footer.redes{
    width: 30%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.main-copy-redes .footer.redes a{
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: white;
    color:black;
    text-align: center;
    
}

.carousel-caption {
    height: 100%;
    padding-top: 10%;
    padding-right: 20%;
}

.carousel-caption h1{
    font-size: 60px;    
}


@media screen and (max-width: 960px) {
    .carousel-inner h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-inner h1 {
        font-size: 40px;
    }
    .contenido {
        font-size: 20px;
    }
}

@media screen and (max-width: 584px) {
    .carousel-inner h1 {
        font-size: 30px;
    }
    .contenido {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-inner h1 {
        font-size: 30px;
    }
}